@model RentACarShared.LoginViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<h1 style="text-align:center">Find your account</h1>

<hr />
<div class="row" style="display:flex; flex-direction:column; justify-items:center; align-items:center">
    <div class="col-md-4">
        <p>Please enter your email to search for your account.</p>
        <form asp-action="UserForgetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="padding-bottom:10px">
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send reset link" class="btn btn-outline-danger"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
