@model RentACarShared.ReviewViewModel

@{
    ViewData["Title"] = "CreateReviews";
}

<h1 style="text-align:center">Create review</h1>

<hr />
<div class="row" style="display:flex; flex-direction:column; justify-items:center; align-items:center">
    <div class="col-md-4">
        <p>Please give us your feedback so that we may improve your user experience.</p>
        <form asp-action="CreateReviews">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="padding-bottom:10px">
                <!--input-->
                <textarea asp-for="Description" class="form-control" placeholder="Your comment" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="VehicleId" class="form-control" value="@ViewBag.vehicleId" type="hidden"/>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.message != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.message
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
