@model RentACarShared.VehicleViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align:center">Create new vehicle</h1>
<hr />
<div class="row" style="display:flex; flex-direction:column; justify-items:center; align-items:center">
    <div class="col-md-4">
        <p>Please enter all vehicle data.</p>
        @using (Html.BeginForm("Create", "Vehicle", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="Title" class="control-label" style="padding-bottom:10px"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-check form-switch" style="padding-bottom:10px">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" asp-for="HasCertificate">
                <label class="form-check-label" for="flexSwitchCheckDefault">Has certificate</label>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="Model" class="control-label" style="padding-bottom:10px"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="Brand" class="control-label" style="padding-bottom:10px"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="Type" class="control-label" style="padding-bottom:10px"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="Description" class="control-label" style="padding-bottom:10px"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="Location" class="control-label" style="padding-bottom:10px"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="Longitude" class="control-label" style="padding-bottom:10px"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label asp-for="Latitude" class="control-label" style="padding-bottom:10px"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <label class="control-label" style="padding-bottom:10px">Picture</label>
                <br/>
                <input class="form-control" type="file" id="Picture"  accept="image/*" multiple name="files">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-warning" />
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
