@page "/ResetPassword"
@model RentACarApi.Pages.ResetPasswordModel
@{
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>ResetPassword</title>
    </head>
    <body>
        <h1 style="text-align:center">Reset password</h1>
        <hr/>
        <div class="row" style="display:flex; flex-direction:column; justify-items:center; align-items:center">
            <div class="col-md-4">
                <form action="/api/auth/resetpassword" method="post">
                    <input type="hidden" name="Token" value="@Request.Query["Token"]" />
                    <input type="hidden" name="Email" value="@Request.Query["Email"]" />
                    <div class="form-group" style="padding-bottom:10px">
                        <input type="password" class="form-control" placeholder="New password" name="NewPassword">
                    </div>
                    <div class="form-group" style="padding-bottom:10px">
                        <input type="password" class="form-control" placeholder="Confirm password" name="ConfirmPassword">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reset" class="btn btn-outline-info" />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
